ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 115px;
    right: -150px;
    list-style: none;
    z-index:9999;
}
span{font-size:1.3em !important;}
span i{font-size:1.5em !important; padding-top:15px !important ;}
ul#navigation li a {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 70px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #d6d6d6;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


ul#navigation li a:hover {
    margin-right: 150px;
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
