<div id="todo">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4" style="text-align: center">
            <h1><U><B>משימות שנותרו לביצוע:</B></U></h1>
        </div>
    </div>

    <div class="row">
        <hr>
        <!-- Text area -->
        <div class="form-group">
            <div class="col-lg-1">
            <button class="btn btn-default" (click)="addToDo()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            </div>
            <div class="col-lg-10 inputGroupContainer">
                <div class="input-group" dir="ltr">
                    <textarea id="description" class="form-control" placeholder="תיאור המשימה..." rows="2" dir="rtl"></textarea>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <hr>
        <div class="col-lg-offset-4 col-lg-5">
            <div *ngFor="let alert of alerts;let i = index;">
                <div *ngIf="alert.type==1">
                    <div class="alert alert-warning" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
                <div *ngIf="alert.type==2">
                    <div class="alert alert-danger" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" title="מחק באגים שנבחרו" (click)="deleteToDos()">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>

    <div *ngIf="isToDos==true">
        <ToDo-detail [ToDos]="ToDos" [length]="length" [ToDosToDeleteArr]="ToDosToDeleteArr"></ToDo-detail>
    </div>

    <!-- alert -->
    <div class="row">
        <hr/>
        <div class="col-lg-offset-7 col-lg-4">
            <div *ngFor="let alert of alerts;let i = index;">
                <div *ngIf="alert.type==3">
                    <div class="alert alert-success" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>