<div id="todo">
    <div class="row">
        <div class="col-lg-offset-8 col-lg-3">
            <h1><u><b>משימות שנותרו לביצוע:</b></u></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-7 col-lg-4">
            <ul class="list-group" dir="rtl">
                <li class="list-group-item">

                    <span class="show-menu">
						<span class="glyphicon glyphicon-chevron-left" onclick="showSubmenu()"></span>
					</span>
                    <ul class="list-group-submenu">
                        <li class="list-group-submenu-item danger" onclick="addToRemoveList()"><span class="glyphicon glyphicon-remove"></span></li>
                        <li class="list-group-submenu-item success" onclick="erase()"><span class="glyphicon glyphicon-ok"></span></li>
                    </ul>
                    <span>ךלשלדחיגךשדחגישדךדחגישדחגנשדדלחגישדלךחגישדלךגדח</span>
                </li>
            </ul>
        </div>
    </div>
</div>