<div id="reportedBugs">
    <div class="row">
        <div class="col-lg-offset-5 col-lg-2" style="text-align: center">
            <h1><U><B>דיווחי באגים</B></U></h1>
        </div>
    </div>

    <div class="row">
        <hr>

        <div class="col-lg-offset-4 col-lg-5">
            <div *ngFor="let alert of alerts;let i = index;">
                <div *ngIf="alert.type==1">
                    <div class="alert alert-warning" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
                <div *ngIf="alert.type==2">
                    <div class="alert alert-danger" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" title="מחק באגים שנבחרו" (click)="deleteBugs()">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>

    <div *ngIf="isbugs==true">
        <bug-detail [bugs]="bugs" [length]="length" [bugsToDeleteArr]="bugsToDeleteArr"></bug-detail>
    </div>

    <!-- alert -->
    <div class="row">
        <hr/>
        <div class="col-lg-offset-7 col-lg-4">
            <div *ngFor="let alert of alerts;let i = index;">
                <div *ngIf="alert.type==3">
                    <div class="alert alert-success" role="alert">
                        {{alert.msg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>