<form class="well form-horizontal col-lg-offset-1 col-lg-10" action=" " method="post"  id="contact_form">
    <fieldset>
        <!-- Form Name -->
        <h1 align="center"><U><B>דיווח על באג</B></U></h1>
        <hr>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-10 inputGroupContainer">
                <div class="input-group" dir="ltr">
                    <input id="name" placeholder="שם..." class="form-control" type="text" dir="rtl">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                </div>
            </div>
            <!--<label class="col-lg-2 control-label">שם ליצירת קשר</label>-->
        </div>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-10 inputGroupContainer">
                <div class="input-group" dir="ltr">
                    <input id="subject" placeholder="נושא..." class="form-control" type="text" dir="rtl">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                </div>
            </div>
            <!--<label class="col-lg-2 control-label">נושא התקלה</label>-->
        </div>

        <!-- Text area -->
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-10 inputGroupContainer">
                <div class="input-group" dir="ltr">
                    <textarea id="description" class="form-control" placeholder="תיאור..." rows="5" dir="rtl"></textarea>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                </div>
            </div>
            <!--<label class="col-lg-2 control-label">תיאור התקלה</label>-->
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-lg-offset-5 col-lg-2" align="center">
                <button type="submit" class="btn btn-warning" (click)="send()">שלח <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>

        <!-- alert -->
        <div class="row">
            <div class="col-lg-offset-7 col-lg-4">
                <div *ngFor="let alert of alerts;let i = index;">
                    <div *ngIf="alert.type==1">
                        <div class="alert alert-warning" role="alert">
                            {{alert.msg}}
                        </div>
                    </div>
                    <div *ngIf="alert.type==2">
                        <div class="alert alert-danger" role="alert">
                            {{alert.msg}}
                        </div>
                    </div>
                    <div *ngIf="alert.type==3">
                        <div class="alert alert-success" role="alert">
                            {{alert.msg}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>