<div class="row">
    <hr/>
    <div class="col-lg-offset-7 col-lg-4">
        <h4>נמצאו {{length}} קבצים</h4>
    </div>
</div>

<!-- Display the search resault -->
<div id="search-resault">
    <hr />
    <div class="row">
        <div *ngFor="let file of pagedItems" class="search-result">
            <!--media-->
            <div class="row">
                <div class="media col-lg-11">

                    <div class="media-body">
                        <!--file image-->
                        <span class="media-right">
                            <img class="img-thumbnail" src="../../images/{{file.img}}.ico" alt="{{file.img}}" title="{{file.img}}" style="width:80px;height:80px;"/>
                        </span>

                        <!-- {{file.imageSRC}} -->
                        <!--  ../../images/[name of the file].ico -->

                        <!--file details-->
                        <span class="media-left">
                            <h4 class="media-heading"><span><B><U>שם: {{file.name}}</U></B></span></h4>
                            <span >
                            <span><U>תאריך שינוי אחרון:</U> {{file.modifiedDate}}</span> |
                            <span><U>סוג:</U> {{file.type}}</span> |
                            <span><U>גודל:</U> {{file.showSize}}</span> |
                            <span><U>נוצר על ידי:</U> {{file.createdUser}}</span>
                            <!--<br />
                            <span><U>הרשאות הקובץ:</U> {{file.permissions}}</span> -->
                            <br />
                            <span><U>מיקום הקובץ:</U> <B dir="ltr">{{file.location}}</B></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!-- pager -->
    <div *ngIf="files">
        <div class="row">
            <div class="col-lg-8">

                <ul *ngIf="pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>