<div id="login">
    <div class="row">

        <div class="col-lg-9"></div>

        <div class="col-lg-2">
            <div class="input-group">
                <input type="text" id="userName" class="form-control" placeholder="שם משתמש...">
            </div>
        </div>

    </div>
    <br />
    <div class="row">

        <div class="col-lg-9"></div>

        <div class="col-lg-2">
            <div class="input-group">
                <input type="text" id="password" class="form-control" placeholder="סיסמה...">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-9">
            <button class="btn btn-default" (click)="login()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</div>