<div id="login-modal" class="container-fluid" dir="rtl">
    <section id="content">
        <form action="">
            <h1>Admin Login</h1>
            <div>
                <input type="text" placeholder="שם משתמש..." id="username"/>
            </div>
            <div>
                <input type="password" placeholder="סיסמה..." id="password"/>
            </div>
            <div>
                <input type="submit" value="כניסה" (click)="login()" />
            </div>
            <div *ngIf="errorFlag==true">
                <div class="alert alert-danger" role="alert">
                    אופס... ישנה בעיה עם השרתים, נסה שוב מאוחר יותר.
                </div>
            </div>

            <div *ngIf="errorFlag==false">
                <div *ngFor="let alert of alerts;let i = index;">
                    <div *ngIf="alert.type==1">

                        <div class="alert alert-warning" role="alert">
                            {{alert.msg}}
                        </div>

                    </div>
                    <div *ngIf="alert.type==2">
                        <div class="alert alert-danger" role="alert">
                            {{alert.msg}}
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>