<div class="container form-control-static" dir="rtl">
    <ul id="navigation">
        <li class="home">
            <a href="/adminPage/home" title="דף הבית של האדמין">
                <span style="padding-top:25px; font-size:36px" >
                    <span style="padding-right:10px">בית</span>
                    <i class="glyphicon glyphicon-home" style="padding-right:107px"></i>
                </span>
            </a>
        </li>
        <li class="status">
            <a href="/adminPage/status" title="מצב השרתים">
                <span style="padding-top:25px; font-size:36px" >
                    <span style="padding-right:10px">מצב השרתים</span>
                    <i class="glyphicon glyphicon-hdd" style="padding-right:18px"></i>
                </span>
            </a>
        </li>
        <li class="bugs">
            <a href="/adminPage/bugs" title="באגים לתיקון">
                <span style="padding-top:25px; font-size:36px" >
                    <span style="padding-right:10px">באגים</span>
                    <i class="glyphicon glyphicon-alert" style="padding-right:87px"></i>
                </span>
            </a>
        </li>
        <li class="todo">
            <a href="/adminPage/todo" title="משימות לביצוע">
                <span style="padding-top:25px; font-size:36px" >
                    <span style="padding-right:10px">משימות</span>
                    <i class="glyphicon glyphicon-edit" style="padding-right:72px"></i>
                </span>
            </a>
        </li>
    </ul>
</div>