<div id="simple">
  <div class="row">

    <div class="col-lg-4"></div>

    <div class="col-lg-1">
      <button class="btn btn-default" (click)="search()">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>

    <div class="col-lg-2">
      <div class="input-group">
        <select class="form-control" style="width: 200px;" dir="rtl" id="FileServer">
          <option value="">שם השרת...</option>
          <option *ngFor="let serverName of serverNames" value="{{serverName.name}}">{{serverName.name}}</option>
        </select>
      </div>
    </div>


    <!-- <div class="col-lg-2">
           <div class="input-group">
             <input type="text" id="FileServer" class="form-control" placeholder="שם השרת...">
           </div>
         </div>
     -->

    <div class="col-lg-2">
      <div class="input-group">
          <input type="text" id="FileType" class="form-control" placeholder="סוג הקובץ...">
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group">
        <input type="text" id="FileName" class="form-control" placeholder="שם הקובץ...">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-7"></div>

    <div class="col-lg-4">
      <div *ngFor="let alert of alerts;let i = index;">
        <div *ngIf="alert.type==1">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert(i)"><span aria-hidden="true">&times;</span></button>-->
            {{alert.msg}}
          </div>
        </div>
        <div *ngIf="alert.type==2">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert(i)"><span aria-hidden="true">&times;</span></button>-->
            {{alert.msg}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="result" class="hidden">
    <div *ngIf="isResult==true">
      <!-- advance search-->
      <my-file-detail [files]="files" [length]="length"></my-file-detail>
    </div>
  </div>


  <div class="text-center">
    <!--<a href="/admin/login" >Admin login</a>-->
    <a href="/adminLogin">Admin zone</a> | <a href="/bugReport">Report a bug</a>
  </div>
</div>



