<div id="simple">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-1">
      <div id="simpleSearchBTN">
        <button class="btn btn-default" (click)="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group">
        <select class="form-control" style="width: 200px;" dir="rtl" id="FileServer">
          <option value="">שם השרת...</option>
          <option *ngFor="let serverName of serverNames" value="{{serverName.name}}">{{serverName.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group">
        <input type="text" id="FileType" class="form-control" placeholder="סוג הקובץ...">
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group">
        <input type="text" id="FileName" class="form-control" placeholder="שם הקובץ...">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-offset-7 col-lg-4">
      <div *ngIf="errorFlag==true">
        <div class="alert alert-danger" role="alert">
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert(i)"><span aria-hidden="true">&times;</span></button>-->
          אופס... ישנה בעיה עם השרתים, נסה שוב מאוחר יותר.
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="advanceFlag==true">
    <!-- advance search-->
    <advanceSearch [files]="files" [length]="length" [isResult]="isResult" [alerts]="alerts" [errorFlag]="errorFlag"></advanceSearch>
  </div>


  <!-- file detail search-->
  <div class="row">
    <div class="col-lg-offset-7 col-lg-4">
      <div *ngIf="errorFlag==false">
        <div *ngFor="let alert of alerts;let i = index;">
          <div *ngIf="alert.type==1">
            <div class="alert alert-warning" role="alert">
              {{alert.msg}}
            </div>
          </div>
          <div *ngIf="alert.type==2">
            <div class="alert alert-danger" role="alert">
              {{alert.msg}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="text-center">
    <a href="/adminLogin">אזור מנהל</a> | <a href="/bugReport">דווח על באג</a>
  </div>
</div>



